/* mobile and tablet */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .nav {
        height: 125px;
        flex-direction: column;
        justify-content: center;
        background-color:#555555;
    }
    .nav__bar {
        flex: none;
        margin-top: 20px;
    }
    .header-background {
        background: url(../img/parallax-2.jpg) bottom / cover no-repeat
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0 50px 20px;
    }
    .nav-item__link {
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .nav-item__subnav {
        display: block;
        position: unset;
        background-color: unset;
        margin-left: 20px;
    }
    .nav-item__subnav {
        box-shadow: none;
    }
    .nav-item__subnav-link {
        color: var(--white-color);
        border-bottom: none;
        text-transform: uppercase;
        margin-bottom: -10px;
        font-size: 1.4rem;
        
    }
    .subnav-list {
        display: block;
    }
    .package-best {
        background-color: #555555;
        flex-direction: column;
        width: 300px;

    }

    .package-best__close-icon {
        color: var(--white-color);
        font-size: 2rem;
        margin: 10px 10px 0 0;
        opacity: 0.8;
    }

    .hide-on-pc {
        display: block;
    }
   
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .header-background {
        height: 1277px;
    }

   
}

/* mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header-background {
        height: 1521px;
    }
}