/* mobile and tablet */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .nav {
        height: 125px;
        flex-direction: column;
        justify-content: center;
        background-color:#555555;
    }
    .nav__bar {
        flex: none;
        margin-top: 20px;
    }
    .header-background {
        background: url(../img/parallax-2.jpg) bottom / cover no-repeat
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0 50px 20px;
    }
    .nav-item__link {
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .nav-item__subnav {
        display: block;
        position: unset;
        background-color: unset;
        margin-left: 20px;
    }
    .nav-item__subnav {
        box-shadow: none;
    }
    .nav-item__subnav-link {
        color: var(--white-color);
        border-bottom: none;
        text-transform: uppercase;
        margin-bottom: -10px;
        font-size: 1.4rem;
        
    }

    .nav-item__subnav-link:hover {
        background-color: unset;
    }
    .subnav-list {
        display: block;
    }
    .package-best {
        background-color: #555555;
        flex-direction: column;
        width: 300px;

    }

    .package-best__close-icon {
        color: var(--white-color);
        font-size: 2rem;
        margin: 10px 10px 0 0;
        opacity: 0.8;
    }

    .hide-on-pc {
        display: block;
    }

/* search */
    .header-search {
    margin-top: 122px;
 
    }

    .header-search-input-wrap {
    width: 100%;
    }

    .header-search-select {
        width: 100%;
    }


    .header-search-list {
    display: block;
    width: 100%;
    padding: 0 15px;
    }

    .header-search-list__item {
    width: 100%;
    margin-bottom: 30px;
    }
    .banner-img-holiday {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }
    .banner-img-holiday-title {
        padding: 70px 0 34px 20px;
    }

    .banner-img-holiday-btn {
        display: flex; 
        justify-content: center; 
        margin: auto; 
        margin-top: 0;
    } 

     /* beach slide */
     .beach-slide-wrap {
        margin-top: 40px;
       
    }
    /* tour */
    .tour {
        display: block;
    }
    .tour-item {
        margin-top: 35px;
    }
    /* discover */
    .discover {
        display: block;
        
    }
   /* promotion */
   .promotion-package {
        margin-bottom: 30px;
   }
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .header-background {
        height: 1402px;
    }
    .wide {
        width: unset;
    }
    .option-destination {
        padding:  0 2px;
    }

    .destination-img {
        height: 718px;
    }

    .banner-img {
        height: 320px;
       }
       /* beach slide */
    .beach-slide-wrap {
        height: 500px;
       
    }
   
}

/* mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header-background {
        height: 1520px;
    }

    .header-search {
        width: 270px;
       
    }
    .header-search-heading {
        padding: 0;
    }

    .header-search-select {
       letter-spacing: unset;
    }

    .wrap {
        margin: 0 73px;
    }

    .destination-title {
        padding: 0 76px;
    }

    .destination-img {
      height: 268px;
    }

    .banner-img {
     height: 370px;
    }

    .banner-img-holiday-title {
        padding-left: 64px;
    }
    .beach-slide-wrap {
        height: 134px;
       
    }
    .beach-time-list {
        display: block;
    }
    .beach-time {
        width: 100%;
        top: calc(100% + 229px);
    }

    .beach-time-item::after {
        display: none;
    }
    .tour {
        margin-top: 483px;
    }
}
